openapi: 3.2.0
info:
  description: 'Introduction


    Welcome to the FRAYT''s REST API.'
  title: FRAYT Client OAUTH API
  version: '2.2'
servers:
- url: https://api.frayt.com
  variables: {}
security: []
tags:
- name: OAuth
paths:
  /api/v2.2/oauth/token:
    post:
      callbacks: {}
      operationId: FraytElixirWeb.API.OauthController.authenticate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Oauth_Request'
        description: Credentials
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oauth_Response'
          description: Success
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Invalid Credentials
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invalid_Parameters'
          description: Invalid Parameters
      summary: Get bearer token for use in protected API calls`
      tags:
      - OAuth
components:
  schemas:
    Forbidden:
      description: Invalid/expired credentials were provided or permissions are insufficient
      example:
        code: forbidden
        message: string
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Human readable message explaining the error
          type: string
      title: Forbidden
      type: object
    Oauth_Response:
      description: Issued access (bearer) token
      example:
        response:
          token: xxxxxx...
      properties:
        response:
          properties:
            token:
              description: Bearer access token
              type: string
          required:
          - token
          type: object
      required:
      - response
      title: Oauth Response
      type: object
    Oauth_Request:
      description: Company Oauth credentials
      example:
        client_id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
        secret: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
      properties:
        client_id:
          description: Required client ID
          type: string
        client_secret:
          description: Client secret key (optional if secret is present)
          type: string
        secret:
          description: Secret key (optional if client_secret is present)
          type: string
      required:
      - client_id
      title: Oauth Request
      type: object
    Invalid_Parameters:
      description: Error response when invalid paramaters are passed
      properties:
        errors:
          items:
            properties:
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            type: object
          type: array
      title: Invalid Parameters
      type: object
  securitySchemes:
    authorization:
      scheme: bearer
      type: http
